#scoreBoard {
    margin: 10px;    
    height: calc(100% - 50px);
}

.classSwitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.classSwitch li {
    padding: 10px;
    background-color: #6a6776;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFF;
    cursor: pointer;
}
.classSwitch li.active {
    background-color: #8fe507;
}

#scoreBoard .list {    
    border: 1px solid #6a6776;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #45434b;
    height: calc(100% - 36px);
}

#scoreBoard .list > div {
    padding: 10px;
    border-bottom: 1px solid #6a6776;
}
