#scoreBoard {
    margin: 10px;
    background-color: #45434b;
    border: 1px solid #6a6776;
    height: calc(100% - 50px);
}

.classSwitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
}

.classSwitch li {
    padding: 10px;
    background-color: #6a6776;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFF;
}

#scoreBoard .list {
    padding: 10px;
}
