.studentInfo {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    position: absolute;
    left: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studentInfo #team,
.studentInfo #class,
.studentInfo #studentName,
.studentInfo #studentNumber {
    margin-bottom: 14px;
    padding: 10px;
    position: relative;
    background-color: #45434b;
    border: 1px solid #6a6776;
}

.studentInfo #team {
    margin-right: 10px;
    margin-bottom: 0;
}
.studentInfo #team h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}
.studentInfo > #class {
    margin-right: 2%;
}

.studentInfo > #class,
.studentInfo > #studentNumber {
    width: 49%;
    display: inline-block;
}

.studentInfo > *:last-child {
    margin-bottom: 0;
}

/* hacks because lazy.. :( */
.studentInfo #studentName:before,
.studentInfo #studentNumber:before,
.studentInfo #class:before {
    content: "Naam";
    position: absolute;
    font-size: 10px;
    padding: 4px;
    background-color: #45434b;
    top: -9px;
    left: 6px;
    color: rgba(255, 255, 255, .5);
    border-radius: 3px;
}
.studentInfo #studentNumber:before {
    content: "Studentnummer";
}   
.studentInfo #class:before {
    content: "Klas";
}