.studentInfo {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    position: absolute;
    left: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studentInfo #team,
.studentInfo #class,
.studentInfo #studentName,
.studentInfo #studentNumber {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #45434b;
    border: 1px solid #6a6776;
}

.studentInfo #team {
    margin-right: 10px;
}
.studentInfo #team h2 {
    font-size: 32px;
    font-weight: 500;
}
.studentInfo > #class {
    margin-right: 2%;
}

.studentInfo > #class,
.studentInfo > #studentNumber {
    width: 49%;
    display: inline-block;
}

.studentInfo > *:last-child {
    margin-bottom: 0;
}