.systemCompromised {
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.systemCompromised h1 {
    padding: 20px;
    color: red;
    border: 3px solid red;
    display: flex;
    align-items: center;
    animation: fadeInOut 2s infinite;
}

.systemCompromised h1 svg {
    stroke: red !important;
    margin-right: 10px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
