#createTeam {
    color: #FFF;
    padding: 20px;
    font-size: 12px;
}
#createTeam h1 {
    text-transform: uppercase;
}
#createTeam p {
    margin-top: 8px;
    margin-bottom: 16px;
}
#createTeam #teamName {
    width: 65%;
}
#createTeam #klas {
    width: 31%;
    margin-left: 4%;
}
#createTeam .teamImage {    
    border-radius: 999px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4d4d4;
}
#createTeam label span {
    width: 100%;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
}
#createTeam input {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    border: 2px solid transparent;
}
#createTeam input:focus {
    outline: none !important;
    border: 2px solid #8fe507;
}
#createTeam input.half {
    width: 48%;   
}

#createTeam #video {
    width: 100%;
    height: auto;
}

#createTeam form div > input {
    margin-left: 4%;
}

.camera {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
}

.camera .output {
    position: absolute;
    width: 100%;
    bottom: 40px;
}

.camera canvas {
    display: none;
}

.camera .imgWrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    margin: 0 auto;
}

#createTeam .buttonWrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}